:root {
    --main-color: black;
    --accent-color: pink;
    --background-color: rgba(50, 185, 79, 0.2);
    --neutral-color: grey;
    --neutral-light-color: #949494;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--neutral-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

@keyframes colorChange {
    0%, 100% {color: var(--main-color);}
    25%, 75% {color: var(--accent-color);}
    50% {color: white;}
}

#container {
    text-align: center;
}

#main-title {
    animation: colorChange 13s infinite;
    padding-top: 15px;
}

.quote {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    padding-top: 10px;
}

.author {
    font-size: 13px;
    padding-bottom: 25px;
}

#animation {
    width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
}

.btn.btn-light:hover,
.btn.btn-light:active,
.btn.btn-light:focus {
    background-color: pink;
    border-color: pink;
    color: white;
}

.btn.btn-light {
    border-radius: 50px;
    padding: 5px 25px;
}

@media only screen and (max-width: 480px) {

    #container {
        max-width: 600px;
    }
    
    #main-title {
        font-size: 31px;
    }

    
    #animation {
        width: 100%;
     }
     
}