body {
    font-family: Arial, sans-serif;
    background-color: rgba(50, 185, 79, 0.2);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

@keyframes colorChange {
    0%   {color: black;}
    25%  {color: pink;}
    50%  {color: white;}
    75%  {color: aquamarine;}
    100% {color: black;}
}


#container {
    text-align: center; 
}

#main-title {
    color: black;
    padding-top: 25px;
    animation: colorChange 13s infinite;
    
}

#quote {
    width: 550px;
    text-align: right;
    font-size: 15px;
    font-style: italic;
    color:grey;
    padding-top: 25px;
}

#author {
    width: 550px;
    text-align: right;
    font-size: small;
    color:grey;
    padding-bottom: 25px;
}

#animation {
    width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden; /* hace que la animación no se muestre fuera del borde redondeado */
}

.coolButton {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 50px;
    cursor: pointer;
    border-radius: 8px;
}

.coolButton:hover {
    background-color: pink;
}

