

body {
    font-family: Arial, sans-serif;
    background-color: rgba(50, 185, 79, 0.2);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

@keyframes colorChange {
    0%   {color: black;}
    25%  {color: pink;}
    50%  {color: white;}
    75%  {color: pink;}
    100% {color: black;}
}


#container {
    text-align: center; 
}

#main-title {
    color: black;
    padding-top: 25px;
    animation: colorChange 13s infinite;
    
}

#quote {
    width: 550px;
    text-align: right;
    font-size: small;
    font-style: italic;
    font-weight: 400;
    color:grey;
    padding-top: 25px;
}

#author {
    width: 550px;
    text-align: right;
    font-size: small;
    color:grey;
    padding-bottom: 25px;
}

#animation {
    width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden; /* hace que la animación no se muestre fuera del borde redondeado */
}

.btn.btn-light:hover,
.btn.btn-light:active,
.btn.btn-light:focus {
    background-color: pink;
    border-color: pink;
    color: white;
}

.btn.btn-light {
    border-radius: 50px;
    padding: 5px 25px;
}